@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300&display=swap');

.App {
    font-family: 'Bruno Ace', cursive;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
   }

.outfit {
    font-family: 'Outfit', sans-serif;
}

#logo{
    font-family: 'Bruno Ace';
}